* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #0c111b;
  /* background-color: linear-gradient; */
}
/* 
.slick-dots {
  position: inherit !important;
} */